@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

div#carousel {
    display: flex;
    align-items: center;
    position: relative;
    max-width: 640px;
}

div#carousel > button {
    position: absolute;
    font-size: xx-large;
    background-color: #e5e5e54e;
    border: none;
    border-radius: 15%;
    cursor: pointer;
    color: white;
}

div#carousel > button#next {
    right: 0%;
}

#indicadores {
    position: absolute;
    top: 90%;
    left: 50%;

    transform: translate(-50%);
}


img {
    width: 100%;
}
